@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Gurmukhi:400,700');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root theme set */
:root {
  /* color */
  --linearPrimarySecondary: linear-gradient(#6e2fda, #e981cf);
  --linearPrimaryAccent: linear-gradient(#6e2fda, #e364a1);
  --linearSecondaryAccent: linear-gradient(#e981cf, #e364a1);
  --radialPrimarySecondary: radial-gradient(#6e2fda, #e981cf);
  --radialPrimaryAccent: radial-gradient(#6e2fda, #e364a1);
  --radialSecondaryAccent: radial-gradient(#e981cf, #e364a1);

  /* fonts */
  --primaryFont: 'Noto Sans Gurmukhi', sans-serif;
}

:root[data-theme='light'] {
  --text: #06020d;
  --background: #F8F8FF;
  --primary: #530fca;
  --secondary: #e981cf;
  --accent: #e364a1;
  --logoimg: url(../img/logo-black.png);
  --shadow: 0 3px 12px rgba(0, 0, 0, 0.185);
}

:root[data-theme='dark'] {
  --text: #f6f2fd;
  --background: #06030c;
  --primary: #6425d0;
  --secondary: #7e1664;
  --accent: #9b1c5a;
  --logoimg: url(../img/collegiate.png);
  --shadow: 0 3px 4px rgba(255, 255, 255, 0.185);
}

/* main css */
body {
  font-family: var(--primaryFont) !important;
  color: var(--text) !important;
  background: var(--background) !important;
}

/* header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

/* logo */
.logo {
  width: 150px;
  height: 150px;
}

/* menu */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0% !important;
}

ul li a {
  text-decoration: none;
  color: var(--text);
}

ul li:hover > a {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

/* DropMenu Settings */
.dropDown {
  display: inline-block;
  position: relative;
}
.dropDown:hover .dropDown-content {
  display: inline;
}
.dropDown-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  padding: 16px 25px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.dropDown-content li {
    line-height: 40px;
}

/* login btn */
.login-btn {
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--primary) !important;
    color: white !important;
    text-decoration: none;
    outline: none;
    border: 1px solid var(--primary) !important;
}

/* toggle theme button */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-moon {
  color: #f1c40f;
}

.bi-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
